.bg-primary{
    color: white
}

.navbar-nav{
    font-family: 'Times New Roman', Times, serif;
    margin-left: 400px;
    font-weight: 500;
    font-size: 20px;
   
}

.nav-item{
    margin-left: 30px;
}

.grillaCard{

    align-items: center;
    justify-content: center;
    margin: 20px;
    gap: 25px;
}
.grillaImg{
    
    margin-top: 10px;

}

.row{
    align-items: center;
}

.cardDetail {
    border: solid rgb(4, 146, 248) 2px;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
